// sass-lint:disable class-name-format force-element-nesting force-pseudo-nesting mixins-before-declarations

//
// Included test cases:
//  - /// 1 ///  - block modifier
//  - /// 2 ///  - element modifier, single element
//  - /// 3 ///  - element modifier, multiple elements
//  - /// 4 ///  - element modifier, single related element
//  - /// 5 ///  - element modifier, multiple related elements
//  - /// 6 ///  - element modifier, single element, manual selector before
//  - /// 7 ///  - element modifier, multiple elements, manual selector before
//  - /// 8 ///  - element modifier, single related element, manual selector before
//  - /// 9 ///  - element modifier, multiple related elements, manual selector before
//  - /// 10 /// - block and element modifiers, single element
//  - /// 11 /// - block and element modifiers, multiple elements
//  - /// 12 /// - nested block modifiers, non-extending
//  - /// 13 /// - nested element modifiers, non-extending
//  - /// 14 /// - nested block modifiers, extending
//  - /// 15 /// - nested element modifiers, extending
//

@include it('ig-bem-modifier') {
    @include assert('block modifier') { /// 1 ///
        @include output(false) {
            @include ig-bem-block('something') {
                @include ig-bem-modifier('mod') {
                    font-size: 1.5em;
                }
            }
        }

        @include expect(false) {
            .something--mod {
                font-size: 1.5em;
            }
        }
    }

    @include assert('element modifier, single element') { /// 2 ///
        @include output(false) {
            @include ig-bem-block('something') {
                @include ig-bem-element('child') {
                    @include ig-bem-modifier('mod') {
                        font-size: 2.5em;
                    }
                }
            }
        }

        @include expect(false) {
            .something__child--mod {
                font-size: 2.5em;
            }
        }
    }

    @include assert('element modifier, multiple elements') { /// 3 ///
        @include output(false) {
            @include ig-bem-block('something') {
                @include ig-bem-element('child1', 'child2') {
                    @include ig-bem-modifier('mod') {
                        font-size: 2.5em;
                    }
                }
            }
        }

        @include expect(false) {
            .something__child1--mod,
            .something__child2--mod {
                font-size: 2.5em;
            }
        }
    }

    @include assert('element modifier, single related element') { /// 4 ///
        @include output(false) {
            @include ig-bem-block('something') {
                @include ig-bem-element('child1') {
                    @include ig-bem-next-element('child2') {
                        @include ig-bem-modifier('mod') {
                            font-size: 2.5em;
                        }
                    }
                }
            }
        }

        @include expect(false) {
            .something__child1 + .something__child2--mod {
                font-size: 2.5em;
            }
        }
    }

    @include assert('element modifier, multiple related elements') { /// 5 ///
        @include output(false) {
            @include ig-bem-block('something') {
                @include ig-bem-element('child1') {
                    @include ig-bem-next-element('child2', 'child3') {
                        @include ig-bem-modifier('mod') {
                            font-size: 2.5em;
                        }
                    }
                }
            }
        }

        @include expect(false) {
            .something__child1 + .something__child2--mod,
            .something__child1 + .something__child3--mod {
                font-size: 2.5em;
            }
        }
    }

    @include assert('element modifier, single element, manual selector before') { /// 6 ///
        @include output(false) {
            @include ig-bem-block('something') {
                &:hover {
                    @include ig-bem-element('child') {
                        @include ig-bem-modifier('mod') {
                            font-size: 2.5em;
                        }
                    }
                }
            }
        }

        @include expect(false) {
            .something:hover .something__child--mod {
                font-size: 2.5em;
            }
        }
    }

    @include assert('element modifier, multiple elements, manual selector before') { /// 7 ///
        @include output(false) {
            @include ig-bem-block('something') {
                &:hover {
                    @include ig-bem-element('child1', 'child2') {
                        @include ig-bem-modifier('mod') {
                            font-size: 2.5em;
                        }
                    }
                }
            }
        }

        @include expect(false) {
            .something:hover .something__child1--mod,
            .something:hover .something__child2--mod {
                font-size: 2.5em;
            }
        }
    }

    @include assert('element modifier, single related element, manual selector before') { /// 8 ///
        @include output(false) {
            @include ig-bem-block('something') {
                &:hover {
                    @include ig-bem-element('child1') {
                        @include ig-bem-next-element('child2') {
                            @include ig-bem-modifier('mod1') {
                                font-size: 2.5em;
                            }
                        }
                    }
                }

                @include ig-bem-element('child3') {
                    &:hover {
                        @include ig-bem-next-element('child4') {
                            @include ig-bem-modifier('mod2') {
                                font-size: 2.5em;
                            }
                        }
                    }
                }
            }
        }

        @include expect(false) {
            .something:hover .something__child1 + .something__child2--mod1 {
                font-size: 2.5em;
            }

            .something__child3:hover + .something__child4--mod2 {
                font-size: 2.5em;
            }
        }
    }

    @include assert('element modifier, multiple related elements, manual selector before') { /// 9 ///
        @include output(false) {
            @include ig-bem-block('something') {
                &:hover {
                    @include ig-bem-element('child1') {
                        @include ig-bem-next-element('child2', 'child3') {
                            @include ig-bem-modifier('mod1') {
                                font-size: 2.5em;
                            }
                        }
                    }
                }

                @include ig-bem-element('child4') {
                    &:hover {
                        @include ig-bem-next-element('child5', 'child6') {
                            @include ig-bem-modifier('mod2') {
                                font-size: 2.5em;
                            }
                        }
                    }
                }
            }
        }

        @include expect(false) {
            .something:hover .something__child1 + .something__child2--mod1,
            .something:hover .something__child1 + .something__child3--mod1 {
                font-size: 2.5em;
            }

            .something__child4:hover + .something__child5--mod2,
            .something__child4:hover + .something__child6--mod2 {
                font-size: 2.5em;
            }
        }
    }

    @include assert('block and element modifiers, single element') { /// 10 ///
        @include output(false) {
            @include ig-bem-block('something') {
                @include ig-bem-modifier('mod1') {
                    font-size: 1.5em;

                    @include ig-bem-element('child') {
                        @include ig-bem-modifier('mod2') {
                            font-size: 2.5em;
                        }
                    }
                }
            }
        }

        @include expect(false) {
            .something--mod1 {
                font-size: 1.5em;
            }

            .something--mod1 .something__child--mod2 {
                font-size: 2.5em;
            }
        }
    }

    @include assert('block and element modifiers, multiple elements') { /// 11 ///
        @include output(false) {
            @include ig-bem-block('something') {
                @include ig-bem-modifier('mod1') {
                    font-size: 1.5em;

                    @include ig-bem-element('child1', 'child2') {
                        @include ig-bem-modifier('mod2') {
                            font-size: 2.5em;
                        }
                    }
                }
            }
        }

        @include expect(false) {
            .something--mod1 {
                font-size: 1.5em;
            }

            .something--mod1 .something__child1--mod2,
            .something--mod1 .something__child2--mod2 {
                font-size: 2.5em;
            }
        }
    }

    @include assert('nested block modifiers, non-extending') { /// 12 ///
        @include output(false) {
            @include ig-bem-block('something') {
                @include ig-bem-modifier('mod') {
                    font-size: 1.5em;

                    @include ig-bem-modifier('submod') {
                        font-size: 1.75em;
                    }
                }
            }
        }

        @include expect(false) {
            .something--mod {
                font-size: 1.5em;
            }

            .something--mod.something--submod {
                font-size: 1.75em;
            }
        }
    }

    @include assert('nested element modifiers, non-extending') { /// 13 ///
        @include output(false) {
            @include ig-bem-block('something') {
                @include ig-bem-element('child') {
                    @include ig-bem-modifier('mod') {
                        font-size: 2.5em;

                        @include ig-bem-modifier('submod') {
                            font-size: 2.75em;
                        }
                    }
                }
            }
        }

        @include expect(false) {
            .something__child--mod {
                font-size: 2.5em;
            }

            .something__child--mod.something__child--submod {
                font-size: 2.75em;
            }
        }
    }

    @include assert('nested block modifiers, extending') { /// 14 ///
        @include output(false) {
            @include ig-bem-block('something') {
                @include ig-bem-modifier('mod') {
                    font-size: 1.5em;

                    @include ig-bem-modifier('submod', true) {
                        font-size: 1.75em;
                    }
                }
            }
        }

        @include expect(false) {
            .something--mod {
                font-size: 1.5em;
            }

            .something--mod--submod {
                font-size: 1.75em;
            }
        }
    }

    @include assert('nested element modifiers, extending') { /// 15 ///
        @include output(false) {
            @include ig-bem-block('something') {
                @include ig-bem-element('child') {
                    @include ig-bem-modifier('mod') {
                        font-size: 2.5em;

                        @include ig-bem-modifier('submod', true) {
                            font-size: 2.75em;
                        }
                    }
                }
            }
        }

        @include expect(false) {
            .something__child--mod {
                font-size: 2.5em;
            }

            .something__child--mod--submod {
                font-size: 2.75em;
            }
        }
    }
}
